@import './_common';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary-invert;
}

html,
body,
#root {
  // hacks since header/footer are position: fixed
  height: calc(calc(100% - #{$header-height}) - #{$footer-height});
  position: fixed;
  top: $header-height;
  left: 0;
  right: 0;
}
