@import 'styles/common';

$field-border: 0.25em solid;

.Contact {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  * {
    font-family: var(--sans-font);
  }

  form {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    background-color: $primary;
    border: $border-primary;
    box-shadow: $shadow;

    .labelBlock,
    input {
      padding: 0.5em;
    }

    .labelBlock {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    label {
      font-weight: bold;
      font-style: italic;
      color: $primary-invert;
    }

    input,
    textarea,
    button {
      outline: none;
    }

    input,
    textarea {
      margin-left: 0.5em;
      margin-right: 0.5em;
      background-color: $primary-invert;
      border: $field-border $primary-darker;
      border-radius: 0.25em;
      padding: 0.25em;
    }

    .invalidField {
      border: $field-border $error;
    }

    input:focus,
    textarea:focus,
    button:focus {
      border: $field-border $primary-lighter;
    }

    textarea {
      flex-grow: 2;
      margin-bottom: 0.5em;
    }

    button {
      padding: 0.25em;
      background-color: $primary-darker;
      color: $primary-invert;
      border: $field-border $primary-darker;
      text-decoration: underline;
      font-size: large;
    }
  }
  .error {
    color: $error;
    font-weight: bold;
    font-style: italic;
  }
}
