@import 'styles/common';

.Resume {
  .container {
    width: 90%;
    height: 90%;
    box-shadow: $shadow;
  }
  .cardBody {
    background-color: $primary-lighter;
    border: $border-primary;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
}
