@import 'styles/_common';

.About {
  // css variables for Figures
  --img-size: 8em;
  --border-radius: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@media screen and (min-width: 425px) {
  .About {
    --img-size: 12em;
  }
}
@media screen and (min-width: 768px) {
  .About {
    --img-size: 18em;
  }
}
