@import 'styles/_common';

.About {
  // css variables for Figures
  --img-size: 18em;
  --border-radius: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
