@import 'styles/common';

@function darker($color) {
  @return adjust-color($color, $lightness: -10%);
}

.Background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: -9999;

  .stripe {
    margin: 0 0.25em;
    width: 5em;
    height: 100%;
    content: '';
  }

  .primaryDarker {
    background-color: darker($primary-darker);
  }
  .primary {
    background-color: darker($primary);
  }
  .primaryLighter {
    background-color: darker($primary-lighter);
  }
  .primaryInvert {
    background-color: darker($primary-invert);
  }
  .white {
    background-color: darker(white);
  }
  .accent {
    background-color: darker($accent);
  }
}
