@import 'styles/common';

// depends on its parent defining --img-size (there's probably a better way to do this)
.Figure {
  --img-offset: calc(var(--img-size) / 2);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  padding-top: 1.5em;
  padding-bottom: 1.5em;

  .imgContainer {
    height: var(--img-size);
    width: var(--img-size);
    border-radius: var(--border-radius);
    border: $border-primary;
    position: relative;

    img {
      height: 100%;
      width: 100%;
      border-radius: var(--border-radius);
    }
  }

  .imgContainer::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    border-radius: var(--border-radius);
    z-index: -2;
    box-shadow: $shadow;
  }

  figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary-lighter;
    border: $border-primary;
    margin-top: calc(var(--img-offset) * -1);
    width: 100%;
    height: calc(max(fit-content, 12em));
    z-index: -1;
    box-shadow: $shadow;

    .title {
      border-top: var(--img-offset) solid $primary-darker;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $primary-darker;
      color: $primary-invert;
      width: 100%;
      font-family: var(--sans-font);
      padding: 0.25em;
    }

    .body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1em;
      h4 {
        padding-top: 1em;
        padding-bottom: 1em;
      }
      ul {
        padding-left: 0.5em;
      }
    }
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;

    figcaption {
      margin-top: 0;
      margin-left: calc(var(--img-offset) * -1);
      overflow: auto;
      .title,
      .body {
        padding-left: calc(var(--img-offset) * 1.25);
        ul {
          margin-left: 3em;
        }
      }
      .title {
        border-top: none;
      }
    }
  }
  @media screen and (min-width: 1024px) {
    width: 65%;
  }
}
