@import 'styles/common';

// depends on its parent setting --img-size and --border-radius
.Figure {
  --img-offset: calc(var(--img-size) / 2);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  padding-top: 1.5em;
  padding-bottom: 1.5em;

  .imgContainer {
    height: var(--img-size);
    width: var(--img-size);
    border-radius: var(--border-radius);
    position: relative;

    img {
      height: var(--img-size);
      width: var(--img-size);
      border: $border-primary;
      border-radius: var(--border-radius);
    }
  }

  .imgContainer::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    border-radius: var(--border-radius);
    z-index: -1;
    box-shadow: $shadow;
  }

  figcaption {
    margin-top: calc(var(--img-offset) * -1);
    border-top: var(--img-offset) solid $primary-darker;
    height: calc(max(fit-content, 12em));
    width: 100%;
    box-shadow: $shadow;
  }
  .cardTitle,
  .cardBody {
    height: 100%;
    width: 100%;
  }

  .cardTitle {
    text-align: center;
  }
  .cardBody {
    background-color: $primary-lighter;
    border: $border-primary;
    padding: 1em;
  }

  @media screen and (min-width: 768px) {
    width: 65%;
  }

  @media screen and (min-width: 1440px) {
    flex-direction: row;

    figcaption {
      margin-top: 0;
      margin-left: calc(var(--img-offset) * -1);
      border-top: unset;
    }

    .cardTitle,
    .cardBody {
      padding-left: var(--img-offset);
    }
  }
}
