@import 'styles/common';

.Footer {
  background-color: $primary-lighter;
  padding: 0.1em;

  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
    margin-top: 0.4em;
  }

  a {
    text-decoration: none;
  }

  .icon {
    height: 2em;
    width: 2em;
  }
}
