@import 'styles/_common';

.Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $primary;
  padding: 1em;
  border-top: $border-primary;
  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
  }

  a {
    text-decoration: none;
  }
}
