@import 'styles/_common';

.Gallery {
  // CSS variables for Figures
  --img-size: 24em;
  --border-radius: 1em;

  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}
