@import 'styles/_common';

.Header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.2em;
  background-color: $primary;
  border-bottom: $border-primary;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  h1 {
    display: inline;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}
