@import 'styles/_common';

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1em;
  background-color: $primary;
  border-bottom: $border-primary;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  h1 {
    display: inline;
  }
}
