@import 'styles/common';

.Header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $primary-darker;
  font-size: x-large;

  h1 {
    padding: 0.1em;
    font-family: var(--mono-font);
    background-color: $primary;
    color: $primary-invert;
    width: 100%;
    font-size: x-large;

    a,
    a:visited {
      color: $primary-invert;
    }
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: flex-end;

    h1 {
      font-size: xx-large;
    }
  }
}
