@import 'styles/common';

.Navigation {
  h2 {
    font-size: medium;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
  }

  a {
    font-family: var(--mono-font);
    text-transform: capitalize;
    padding: 0.25em;
  }

  a,
  a:visited {
    color: $primary-invert;
  }

  .activeTab {
    background-color: $primary-lighter;
    a,
    a:visited {
      color: black;
    }
  }

  @media screen and (min-width: 768px) {
    h2 {
      font-size: large;
    }
  }

  @media screen and (min-width: 1024px) {
    h2 {
      font-size: x-large;
    }
  }
}
