@import 'styles/_common';

.Tree {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.15em;
  padding-bottom: 0.15em;
  list-style: none;
  .Tree {
    list-style: circle;

    .Tree {
      list-style: inside;
    }
  }
  li {
    padding: 0.1em;
    font-weight: bold;
  }
}
