@import 'styles/common';

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Open+Sans:ital@0;1&display=swap');

@font-face {
  font-family: 'Cascadia Code';
  font-weight: normal;
  font-style: normal;
  src: url('./assets/fonts/CascadiaCodePL.woff2');
}

:root {
  --mono-font: 'Cascadia Code', 'Consolas', 'Lucida Console', 'Monaco',
    'Courier New', 'Courier', monospace;
  --sans-font: 'Open Sans', Arial, Helvetica, sans-serif;
  --serif-font: 'EB Garamond', 'Palatino Linotype', 'Book Antiqua', Palatino,
    serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: $primary-invert;
  font-family: var(--serif-font);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  main {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    overflow: auto;
  }
}
