@import 'styles/_common';

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Open+Sans:ital@0;1&display=swap');

@font-face {
  font-family: 'Cascadia Code';
  font-weight: normal;
  font-style: normal;
  src: url('./assets/fonts/CascadiaCodePL.woff2');
}

:root {
  --mono-font: 'Cascadia Code', 'Consolas', 'Lucida Console', 'Monaco',
    'Courier New', 'Courier', monospace;
  --sans-font: 'Open Sans', Arial, Helvetica, sans-serif;
  --serif-font: 'EB Garamond', 'Palatino Linotype', 'Book Antiqua', Palatino,
    serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: $primary-invert;
  display: flex;
  flex-direction: column;
  font-family: var(--serif-font);
  justify-content: center;
}

#root {
  height: calc(100% - calc(#{$header-height} + #{$footer-height}));
  overflow: auto;
}
