@import 'styles/common';

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Open+Sans:ital@0;1&display=swap');

@font-face {
  font-family: 'Cascadia Code';
  font-weight: normal;
  font-style: normal;
  src: url('./assets/fonts/CascadiaCodePL.woff2');
}

:root {
  --mono-font: 'Cascadia Code', monospace;
  --sans-font: 'Open Sans', sans-serif;
  --serif-font: 'EB Garamond', serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: $primary-darker;
  font-family: var(--serif-font);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
